:root {
    --black-main: #0B0B0D;
    --graphite:   #1E1F23;
    --gray-text:  #B5B7BE;
    --red-main:   #E10600;
    --red-hover:  #FF2A1A;
    --white:      #FFFFFF;
    --red-backgraund: #ed1c24;
    --body-backgraund: #F5F6F8;
    --white-1: #FAFAFA;
    --red-transparent: rgb(237, 28, 36, 0.8);
    --white-ultra-premium: rgba(255, 255, 255, 0.85);
}

.section-for-carrosserie-pages {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    background-color: var(--body-backgraund);
}

.section-for-carrosserie-pages-titile-image {
    width: 100%;
    height: 400px;
    background-image:
        linear-gradient(
            rgba(0, 0, 0, 0.60),
            rgba(0, 0, 0, 0.60)
        ),
        url("/images/quality_automotive_paint.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.section-for-carrosserie-pages-titile {
    font-family: "Oswald", sans-serif;
    font-size: 42px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--white-1);
    text-align: center;
    letter-spacing: 1px;
    margin-top: 100px;
    text-shadow: 0 2px 10px rgba(0,0,0,0.4);
}

.section-for-carrosserie-pages-titile-image p {
    max-width: 750px;
    margin: 20px auto;
    text-align: center;
    font-family: "poppins", sans-serif;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 26px;
    color: var(--white-1);
    text-shadow: 0 2px 10px rgba(0,0,0,0.4);
}

.pages-carrosserie-box {
    width: 100%;
    max-width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    padding: 20px 0;
    border-radius: 5px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.pages-carrosserie-box-img {
    width: 280px;
    height: 280px;
    border: 8px solid var(--red-backgraund);
    border-radius: 50%;
    overflow: hidden;
}

.pages-carrosserie-box-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.pages-carrosserie-box-titile {
    font-family: "inter", sans-serif;
    font-size: 26px;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--graphite);
    text-align: center;
}

.pages-carrosserie-box p {
    width: 100%;
    max-width: 650px;
    text-align: center;
    font-family: "poppins", "sans-serif";
    font-weight: 600;
    color: #666;
}

.pages-carrosserie-box-description {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.pages-carrosserie-box-description p {
    font-size: 18px;
    text-align: center;
    font-family: "inter", "sans-serif";
    color: var(--graphite);
    font-weight: 700;
}

.section-for-carrosserie-pages-demande-devis {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding: 25px 0 0 0;
}

.section-for-carrosserie-pages-demande-devis i {
    font-size: 56px;
    color: var(--red-main);
}

.section-for-carrosserie-pages-demande-devis-title {
    font-family: "Oswald", sans-serif;
    font-size: 28px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    color: var(--graphite);
}

.section-for-carrosserie-pages-demande-devis p {
    text-align: center;
    font-family: "poppins", "sans-serif";
    font-weight: 600;
    color: #666;
}

.section-for-carrosserie-pages-demande-devis-phone-number a {
    font-size: 22px;
    text-decoration: none;
    text-align: center;
    font-family: "poppins", "sans-serif";
    font-weight: 650;
    color: var(--graphite);
}