:root {
    --black-main: #0B0B0D;
    --graphite:   #1E1F23;
    --gray-text:  #B5B7BE;
    --red-main:   #E10600;
    --red-hover:  #FF2A1A;
    --white:      #FFFFFF;
    --red-backgraund: #ed1c24;
    --body-backgraund: #F5F6F8;
    --white-1: #FAFAFA;
    --red-transparent: rgb(237, 28, 36, 0.8);
    --white-ultra-premium: rgba(255, 255, 255, 0.85);
}

.section-for-brand-contact-pages {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    background-color: var(--body-backgraund);
}

.section-for-brand-contact-pages-image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 450px;
    gap: 20px;
    background-image:
        linear-gradient(
            rgba(0, 0, 0, 0.80),
            rgba(0, 0, 0, 0.80)
        ),
        url("/images/rendez-vous-image.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.section-for-brand-contact-pages-titile {
    font-family: "Oswald", sans-serif;
    font-size: 46px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--white-1);
    text-align: center;
    text-shadow: 0 2px 10px rgba(0,0,0,0.4);
}

.section-for-brand-contact-pages-contct-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 35px;
    margin-top: 50px;
}

.section-for-brand-contact-pages-contct-info h2 {
    font-family: "Oswald", sans-serif;
    font-size: 38px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--graphite);
    text-align: center;
}

.section-for-brand-contact-pages-contct-info i {
    font-size: 48px;
    color: var(--red-main);
}

.section-for-brand-contact-pages-contct-info a {
    font-size: 20px;
    font-family: "poppins", sans-serif;
    text-align: center;
    color: var(--graphite);
    font-weight: 700;
    line-height: 32px;
}

.section-for-brand-contact-pages-formul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;
}

.section-for-brand-contact-pages-formul-icon {
    font-size: 48px;
    color: var(--red-main);
    margin-bottom: 25px;
}

.section-for-brand-contact-pages-formul h4 {
    max-width: 900px;
    font-family: "poppins", sans-serif;
    font-size: 24px;
    color: var(--graphite);
    text-align: center;
    padding: 0 15px;
    line-height: 36px;
}

.section-for-brand-contact-pages-formul p {
    font-size: 18px;
    font-family: "roboto", sans-serif;
    text-align: center;
    color: #666;
    font-weight: 700;
    line-height: 32px;
}

.section-for-brand-contact-pages-google-map {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 50px;
    gap: 25px;
}

.section-for-brand-contact-pages-google-map h4 {
    font-family: "roboto", sans-serif;
    font-weight: 800;
    font-size: 24px;
    color: var(--graphite);
    text-align: center;
}

.section-for-brand-contact-pages-google-map p {
    font-size: 16px;
    font-family: "roboto", sans-serif;
    text-align: center;
    color: #666;
    font-weight: 700;
    padding: 0 5px;
}

@media (max-width: 480px) {

    .section-for-brand-contact-pages-image {
        height: 350px;
    }

    .section-for-brand-contact-pages-titile {
        font-size: 42px;
    }

    .section-for-brand-contact-pages-contct-info h2 {
        font-size: 34px;
    }

    .section-for-brand-contact-pages-contct-info a {
        font-size: 18px;
    }

    .section-for-brand-contact-pages-formul h4 {
        font-size: 17px;
        font-weight: 700;
    }

    .section-for-brand-contact-pages-formul p {
        font-size: 15px;
    }

    .section-for-brand-contact-pages-google-map p {
        font-size: 15px;
    }
}