:root {
    --black-main: #0B0B0D;
    --graphite:   #1E1F23;
    --gray-text:  #B5B7BE;
    --red-main:   #E10600;
    --red-hover:  #FF2A1A;
    --white:      #FFFFFF;
    --red-backgraund: #ed1c24;
    --body-backgraund: #F5F6F8;
    --white-1: #FAFAFA;
    --red-transparent: rgb(237, 28, 36, 0.8);
    --white-ultra-premium: rgba(255, 255, 255, 0.85);
}

.section-for-jantes-pages {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    background-color: var(--body-backgraund);
}

.section-for-jantes-pages-title-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 450px;
    gap: 30px;
    padding: 0 20px;
    background-image:
        linear-gradient(
            rgba(0, 0, 0, 0.30),
            rgba(0, 0, 0, 0.30)
        ),
        url("https://raw.githubusercontent.com/tikmargarian/7services.github.io/refs/heads/master/images/main-diamant-cut.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.section-for-jantes-pages-title {
    font-family: "Oswald", sans-serif;
    font-size: 46px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--white-1);
    text-align: center;
    text-shadow: 0 2px 10px rgba(0,0,0,0.4);
}

.section-for-jantes-pages-text-before {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    padding: 0 20px;
}

.section-for-jantes-pages-text-before i {
    font-size: 48px;
    color: var(--red-main);
}

.section-for-jantes-pages-text-before p {
    max-width: 1000px;
    font-family: "roboto", sans-serif;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: var(--graphite);
}

.page-jantes-box {
    width: 100%;
    max-width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    padding: 20px 20px;
    border-radius: 5px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.page-jantes-box-img {
  width: 280px;
  height: 280px;
  border: 8px solid var(--red-backgraund);
  border-radius: 50%;
  overflow: hidden;
}

.page-jantes-box-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.page-jantes-box-title {
    font-family: "inter", sans-serif;
    font-size: 26px;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--graphite);
    text-align: center;
}

.page-jantes-box p {
    width: 100%;
    max-width: 650px;
    text-align: center;
    font-family: "poppins", "sans-serif";
    font-weight: 600;
    color: #666;
}

.page-jantes-box-description {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.page-jantes-box .page-jantes-box-description p {
    font-size: 18px;
    text-align: center;
    font-family: "inter", "sans-serif";
    color: var(--graphite);
    font-weight: 700;
}

.section-page-jantes-demande-devis {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding: 25px 0 0 0;
}

.section-page-jantes-demande-devis i {
    font-size: 56px;
    color: var(--red-main);
}

.section-page-jantes-demande-devis-title {
    font-family: "Oswald", sans-serif;
    font-size: 28px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    color: var(--graphite);
}

.section-page-jantes-demande-devis p {
    text-align: center;
    font-family: "poppins", "sans-serif";
    font-weight: 600;
    color: #666;
}

.section-page-jantes-demande-devis-phone-number a {
    font-size: 22px;
    text-decoration: none;
    text-align: center;
    font-family: "poppins", "sans-serif";
    font-weight: 650;
    color: var(--graphite);
}


/* Media style start */

@media (max-width: 840px) {

    .page-jantes-box {
        max-width: 600px;
    }
    
}

@media (max-width: 640px) {
    .section-for-jantes-pages-title {
        font-size: 42px;
        letter-spacing: 1px;
        text-align: center;
    }   

    .page-jantes-box {
        max-width: 450px;
    }
}

@media (max-width: 480px) {

    .section-for-jantes-pages-title-image {
        height: 400px;
    }

    .section-for-jantes-pages-title {
        font-size: 34px;
        letter-spacing: 1px;
        text-align: center;
    }   

    .section-for-jantes-pages-text-before p {
        font-size: 18px;
    } 

    .page-jantes-box {
        max-width: 350px;
    }

    .page-jantes-box-img {
        width: 250px;
        height: 250px;
} 


    .page-jantes-box-title {
        font-size: 21px;
    }

    .page-jantes-box p {
        font-size: 14px;
    }

    .page-jantes-box .page-jantes-box-description p {
        font-size: 15px;
    }


    .section-page-jantes-demande-devis-title {
        font-size: 24px;
    }

    .section-page-jantes-demande-devis p {
        font-size: 15px;
        padding: 0 5px;
        text-align: center;
        font-family: "poppins", "sans-serif";
        font-weight: 600;
        color: #666;
    }
}